body{
	/*background-color:  #093a3e ;*/
    background-color: #23272a;
    font-family: 'Bungee', cursive;
}

.header{
	text-align: center;
	color: #87cefa;
	color: #7289da;
	/*color:#f25f5c;*/
	font-stretch: ultra-expanded;
	font-size: 7.5em;
	font-weight: lighter;
}

.links{
	display: flex;
	justify-content: center;
}

.link{
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.link a{
	color: white;
	text-decoration: none;
	font-size: 3em;
	transition: all ease 0.5s;
}

#fb a:hover{
	color: #3B5A9B;
}

#instagram a:hover{
	color: #0e68ce;
}

#linkedin a:hover{
	color: #0077B7;
}

#github a:hover{
	color: #040204;
}
